<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
  
  
    <div th:fragment="footer" style = "width: 100%; height:70px; background-color:black;">
    
    
	<footer class="footer-distributed" itemscope="" itemtype="http://schema.org/Organization">
	
   
    <div class="container">
	<div class="footer-left">
	
    <p style="color: #fff; margin-top:30px"><span class="copyright">&copy;</span>Copyright -2019 to Present Audenberg Technologies LLP- All Right Reserved.</p>
     
    </div>
    </div>
    </footer>
    </div>
  </body>
</html>