<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	 
	 
	 
<head>

<title>Author CRUD</title>

<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheetControlPanel.css}" />
   -->	
  	<script th:src="@{/js/jquery.min.js}"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script>
  	<script th:src="@{/js/angular.min.js}"></script>
  	<script th:src="@{/js/authorController.js}" ></script>
  	
  	
  	<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body ng-app="myApp">

<div ng-controller=authorCtrl>


<div class="container-fluid">

<div class="row">
			<div class="col-md-8">
				<h3>Internation Journal</h3>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
				 Register
				</button>
				</div>
				<div class="col-md-2">
				<div sec:authorize="isAuthenticated()">
  	<p style="font-size: 10pt; color: #003333;" th:text="${userName}" />
    <form th:action="@{/logout}" method="post">
            <input class="btn btn-md btn-primary btn-block" type="submit" value="Sign Out"/>
        </form>
  </div>
			</div>
</div>

<div class="row">

	<div class="container">
	
	<table class="table table-responsive table-hover table-striped">
	<thead>
	<th>Id</th>
	<th>Name</th>
	<th>Email</th>
	<th>Mobile</th>	
	<th>Action</th>
	</thead>
	<tbody>
	<tr ng-repeat="x in authors">
	<td>{{x.id}}</td>
	<td>{{x.fname+" "+x.lname}}</td>
	<td>{{x.email}}</td>
	<td>{{x.mobile}}</td>
	<td>
		<button ng-click="editAuthor($index)"><span class="fa fa-pencil">Update</span></button>
		<button ng-click="deleteAuthor($index)"><span class="fa fa-trash">Delete</span></button>
	</td>
	
	</tr>
	
	</tbody>
	
	</table>
	
	</div>
</div>


</div>

<!-- The Modal -->
<div class="modal" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        
        
        
        <form id="authorForm" action="#">
        <input type="hidden" class="form-control" id="id" ng-model="author.id">
         <div class="form-group">
         <label class="error">{{errors.fnameErr}}</label><br>
		    <label for="fname">First Name:</label>
		    <input type="text" class="form-control" id="fname" ng-model="author.fname">
		  </div>
		   <div class="form-group">
		    <label for="lname">Last Name:</label>
		    <input type="text" class="form-control" id="lname" ng-model="author.lname">
		  </div>
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="text" class="form-control" id="email" ng-model="author.email">
		  </div>
		   <div class="form-group">
		   <label class="error">{{errors.mobileErr}}</label><br>
		    <label for="mobile">Mobile:</label>
		    <input type="text" class="form-control" id="mobile" ng-model="author.mobile">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Password:</label>
		    <input type="password" class="form-control" id="password" ng-model="author.password">
		  </div>
		  
		  <div class="form-group">
		    <label for="line1">Address Line1*:</label>
		    <input type="text" class="form-control" id="line1" ng-model="author.line1">
		  </div>
		  
		  <div class="form-group">
		    <label for="line2">Line 2:</label>
		    <input type="text" class="form-control" id="line2" ng-model="author.line2">
		  </div>
		  
		  
		  <div class="form-group">
		    <label for="city">City:</label>
		    <input type="text" class="form-control" id="city" ng-model="author.city">
		  </div>
		  
		  <div class="form-group">
		    <label for="state">State:</label>
		    <input type="text" class="form-control" id="state" ng-model="author.state">
		  </div>
		  
		  <div class="form-group">
		    <label for="country">Country:</label>
		    <input type="text" class="form-control" id="country" ng-model="author.country">
		  </div>
		  
		  <div class="form-group">
		    <label for="pincode">Pincode:</label>
		    <input type="text" class="form-control" id="pincode" ng-model="author.pincode">
		  </div>
		  
		  
		  <button type="button" ng-click="registerAuthor()" class="btn btn-primary">Register</button>
		</form>
        
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


</div>





</body>
</html>