<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>KBNCE Placement Cell</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  	<script th:src="@{/js/jquery.min.js}"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script>
  	<script th:src="@{/js/angular.min.js}"></script>
  	<script th:src="@{/js/loginController.js}" ></script>
  	
  	
  	
</head>

<body>

<div th:replace="fragments/header :: header"></div>

  
	
	<div class="container">
  <div class="row">
   
    <div class="col-sm-8">
   	<!--  registration code goes here -->
    </div>
    
    <div sec:authorize="isAnonymous()" class="col-sm-4" >
    <div class="jumbotron">
     
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading">Sign In</h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			
			<div align="center">
					<span th:utext="${successMessage}"></span>
			</div>
			
						
			<button class="btn btn-md btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
		<p> </p>
		<form th:action="@{/registration}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
	    <div align="center">
					<a href="/forgotPassword">forgot your password?</a>
			</div>
	    </form>	
		
	</div>
	</div>
	</div>
	
	</div>
	<div class="container-fluid" >
		<a href="http://www.audenberg.com"><img th:src="@{/images/powered.png}" class="img-responsive" 
		alt="Powered by AudenBerg Technologies" /></a>
	</div>
	
</body>
</html>